<!--<div class="add-todo">
  <div class="container">
    <form class="form-horizontal" (ngSubmit)="onSubmit(inputForm)" #inputForm="ngForm">
      <div class="form-group">
        <div class="col-sm-offset-2 col-xs-8 col-sm-6">
          <input type="text" class="form-control" placeholder="TASK" name="todo" [(ngModel)]="todo" />
        </div>
        <button type="submit" class="col-sm-1 col-xs-2 btn btn-primary btn-sm">ADD</button>
      </div>
    </form>
  </div>
</div>-->
<div class="add-todo">
  <div class="container">
    <form class="form-horizontal" (ngSubmit)="onSubmit(inputForm)" #inputForm="ngForm">
      <div class="form-group">
        <div class="col-sm-offset-1 col-xs-4 col-md-2 col-sm-3">
          <input type="text" class="form-control" placeholder="TASK" name="todo" [(ngModel)]="title" />
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
          <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="description">
        </div>
        <div class="col-md-4">
          <select>
            <option value="Planned">Planned</option>
            <option value="InProgress">In Progress</option>
            <option value="Completed">Completed</option>
            <option value="Abort">Abort</option>
            <!--<option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>-->
          </select>
        </div>
        <button type="submit" class="col-sm-1 col-xs-2 btn btn-primary btn-sm">ADD</button>
      </div>
    </form>
  </div>
</div>

<div class="todo-list">
  <ul class="list-unstyled">
    <li *ngFor="let todo of todos | async;let i=index">
      {{todo.name}}
    </li>
  </ul>
</div>